div#buttons {
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: 70%;
}
button#button1 {
  background-color: transparent;
  background-image: url(../images/button1.svg);
  background-repeat: no-repeat;
  background-size: 120px;
  width: 140px;
  height: 140px;
  border: none;
  cursor: pointer;
  transition: ease-in-out 0.1s background-image, ease-in-out 0.15s filter;
}
button#button1:active {
  background-image: url(../images/button1-press.svg);
  filter: brightness(1.2) saturate(0.5) blur(1px);
}
button#button2 {
  background-color: transparent;
  background-image: url(../images/button2.svg);
  background-repeat: no-repeat;
  background-size: 120px;
  width: 140px;
  height: 140px;
  border: none;
  cursor: pointer;
  transition: ease-in-out 0.1s background-image, ease-in-out 0.15s filter;
}
button#button2:active {
  background-image: url(../images/button2-press.svg);
  filter: brightness(1.2) saturate(0.8) blur(1px);
}